.btn-secondary2{
  border-radius: 5%;
  width: 110%;
}

.gidP {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(auto, 365px);
  grid-template-rows: auto;
  gap: 5px;
  justify-items: stretch;
}







.B_pelis {
  border: 5px solid rgb(235, 19, 19);
  /*background-color: antiquewhite;*/
  padding-bottom: 0%;
  margin-bottom: 0%;

}

.B_pelis2 {
  border: 5px solid rgb(94, 252, 3);
  /*background-color: antiquewhite;*/
  background-color: rgb(40, 69, 94);
  padding-bottom: 0%;
  margin-bottom: 0%;

}

.card1 {
  padding: 0%;
  margin: 0%;
  ;
}

p {
  height: 40px;
  text-align: center;
}

.botngrande {
  width: 100%;

}

.sub {
  background-color: rgb(139, 57, 105);
  color: rgb(95, 42, 42);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgb(97, 194, 121); */
  /* margin: auto; */
  padding: auto;
}

.filtro {
  /*display: none;*/
  visibility: hidden;
  order: 1;
}

.parrafo-azul {
  background-color: rgb(42, 185, 97);
  color: rgb(189, 209, 185);
}
.float-agrupadorTODO {
  border: 3px solid #fff;
  padding: 20px;
  width: auto;
}
.float-agrupador{
  width: 50%;
  /* float: left; */
 /* padding: 20px;*/
  border: 2px solid red; 
}
.float-agrupador1{
 width: 50%;
  float: right;
/*  padding: 20px;*/
  border: 2px solid red; 
}




/*  ////////////////////////////////////// PRUEBA/////////////////////////////// */
 /* @media screen and (max-width: 600px) {
  .master{
font-family: 'Times New Roman', Times, serif;
font-size: 0%
  };
} */

/* 

@media screen and (max-width: 700px) {
  .master{
    max-width: 200px;
    text-align:center;
    margin-left: 10%;
    /* paddin:10px; */
    /* border: 9px solid; 

  }
      

  .gidP {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto, 365px);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: stretch;
  }
 
} */


/* extra large */
@media screen and (max-width: 21291px) {
    
html, body {
  width: 100%;
  /* margin: 0; */
  margin-left: 0%;
  margin-right: 3%;
  padding: 0%;
  align-items: center;
  align-content: center;
  /* background-color: blue !important; */
  color:blueviolet;
      text-align: center;
  
    }
    .master{
      
      width: 100%;
      max-width: none;
      /* margin: auto; */
      text-align:center;
      /* margin-right: 10%; */
      /* padding-top: 0%; */
      /* paddin:10px; */
      /* border: 9px solid; */
      padding-right: 20%;
      /* padding-left: 12%; */
      margin-left: 0%;
      
      /*div{
        
      class="container text-center"
    }*/
    
  }
  container-text-center{
    /* padding-left: 5%;
      margin-left: 0%; */
  }
  input{
    margin-left: 15%;
  }
  h1{
    margin-left: 35%;
    text-align: center;
    font-size: 150%;
  }


  .gidP {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: minmax(auto, 365px); */
    grid-template-rows: auto;
    gap: 5px;
    justify-items: stretch;
  }

  /* font-size: 150%; */
}







@media screen and (max-width: 992px) {
   html, body {
  width: 100%;
  /* margin: 0; */
  margin-left: 0%;
  margin-right: 9%;
  padding: 0%;
  align-items: center;
  align-content: center;
  /* background-color: blue !important; */
  color:blueviolet;
      text-align: center;
  
    }
  .master{
    max-width: 992px;
    text-align:center;
    /* padding-right:10%; */
    padding-left:0%;
    /* margin-left:  10%; */
    /* paddin:10px; */
    /* border: 9px solid; */
    
  }
  .gidP {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 365px);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: stretch;
    margin-right:auto;
  }

  /* font-size: 150%; */
  
  img {
    width: 209px;
    
    height: 220px;
  }
  }







@media screen and (max-width: 768px) {
  .master{
    /* max-width: 1000px; */
    text-align:center;
    margin: auto;
    max-width: auto;

    /* paddin:10px; */
    /* border: 9px solid; */
  }
  .gidP {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 65px);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: stretch;
  }
  
  /* font-size: 150%; */
  
  
  /* .respo {
    min-width: 209px;
    min-height 220px;
    max-width: 209px;
    max-height 220px;
  } */
  
}


@media screen and (max-width: 576px) {
  html, body {
  width: 100%;
  /* margin: 0; */
  margin-left: 0%;
  margin-right: 3%;
  padding: 0%;
  align-items: center;
  align-content: center;
  /* background-color: blue !important; */
  color:blueviolet;
      text-align: center;
  
    }
  .master{
    max-width: auto;
    /* max-width: 400px; */
    text-align:center;
    /* margin-left: 10%; */
    /* paddin:10px; */
    margin: auto;
    padding-left: 10%;
    /* border: 9px solid; */
  }
  .gidP {
    /*max-width: 500px;*/
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto, 365px);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: stretch;



  }
h1{
  /* padding-top: 70%; */
  padding-bottom: 0%;

  font-size: 50%;
}


}





/* @media screen and (max-width: 450px) {
  .master{
    max-width: 450px;
    text-align:center;

    margin: auto;
                  /* margin-right: 5%; */
                  /* paddin:10px; */
                  /* border: 9px solid; */ 
                      p {
                   /* height: 40px; 
      text-align: center;
      font-size: 100%;
      font-style: bold;
    }
  }
  
  .gidP {
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto, 365px);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: stretch;
  }


                          font-size: 40%;

                          /* .respo {
                            min-width: 209px;
                            min-height 220px;
                            max-width: 209px;
                            max-height 220px;
                          } 
} */